@import url('./fonts/Fonts.css');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #ffffff;
}

a {
	color: inherit;
}

button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	appearance: none;

	border: none;
	background: none;

	cursor: pointer;
}
