@import url('./fonts/Fonts.css');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: #ffffff;
}

a {
	color: inherit;
}
