.panel {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	background-color: #03201b;

	font-family: DINNextW1GLight;

	overflow-y: scroll;
	z-index: 10000;
}

.panel::-webkit-scrollbar {
	display: none;
}

.panel__content-cont {
	align-self: flex-start;
}

.panel__btn-close {
	position: fixed;
	top: 0;
	right: 0;

	padding: 1.214vw 4.854vw;

	font-family: Tungsten;
	font-size: 11.65vw;

	background-color: #03201b;
	z-index: 12000;

	cursor: pointer;
}

.panel__loading-cont {
	width: 200px;
	font-family: DINNextW1GMedium;
	font-size: 26px;
	text-align: center;
}

.panel__loading-gif {
	width: 100%;
	height: 100%;
}

.panel__error-cont {
	font-family: DINNextW1GMedium;
	font-size: 16px;
	color: #fa4454;
}

.panel__port-cont {
	display: flex;
	justify-content: center;

	max-height: 83.01vw;

	background-color: #dc3d4b;
}

.panel__port {
	position: relative;
	top: 4.854vw;

	width: 85.437vw;
	height: 91.019vw;

	object-fit: cover;
}

.panel__inf {
	display: flex;
	flex-direction: column;
	gap: 40px;

	padding: 0 7.282vw 12.136vw;
	margin-top: 22.573vw;
}

.inf__name {
	font-family: Tungsten;
	font-size: 20vw;
	text-transform: uppercase;
	text-align: center;
}

.inf__title {
	margin-bottom: 12px;

	font-family: DINNextW1GMedium;
	font-size: 5.825vw;
	color: #dc3d4b;
	text-transform: uppercase;
}

.inf__wrapper {
	display: flex;
	align-items: center;
	gap: 20px;
}

.inf__role {
	font-family: Tungsten;
	font-size: 11.65vw;
	text-transform: uppercase;
}

.inf__role-icon {
	width: 30px;
	height: 30px;
}

.inf__desc {
	font-size: 4.854vw;
}

.inf_ablties-wrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.ablty_wrapper {
	margin-bottom: 20px;
}

.inf__ablty-name {
	font-family: DINNextW1GMedium;
	font-size: 7.767vw;
	text-transform: uppercase;
}

.inf__ablty-icon {
	width: 14.563vw;
}

@media only screen and (min-width: 768px) {
	.panel__btn-close {
		padding: 5px 38px;

		font-size: 80px;
	}

	.panel__port-cont {
		max-height: 640px;
	}

	.panel__port {
		top: 40px;

		width: 671px;
		height: 702px;
	}

	.panel__inf {
		gap: 60px;

		padding: 0 50px 50px;
		margin-top: 142px;
	}

	.inf__name {
		font-size: 128px;
	}

	.inf__title {
		margin-bottom: 16px;

		font-size: 32px;
	}

	.inf__wrapper {
		gap: 20px;
	}

	.inf__role {
		font-size: 70px;
	}

	.inf__role-icon {
		width: 50px;
	}

	.inf__desc {
		font-size: 24px;
	}

	.inf_ablties-wrapper {
		gap: 50px;
	}

	.inf__ablty-name {
		font-size: 40px;
	}

	.inf__ablty-icon {
		width: 70px;
	}
}

@media only screen and (min-width: 1280px) {
	.panel__content-cont {
		display: flex;

		height: 100%;
	}

	.panel__btn-close {
		padding: 0 26px;

		font-size: 64px;

		background-color: #dc3d4b;
	}

	.panel__port-cont {
		width: 50%;
		max-height: 100vh;
	}

	.panel__port {
		top: 0;

		width: 100%;
		height: 100%;
	}

	.panel__inf {
		gap: 60px;

		width: 50%;

		padding: 40px;
		margin-top: 0;

		overflow-y: scroll;
	}

	.panel__inf::-webkit-scrollbar {
		display: none;
	}

	.inf__name {
		font-size: 96px;

		text-align: left;
	}

	.inf__title {
		font-size: 24px;
	}

	.inf__role {
		font-size: 64px;
	}

	.inf__role-icon {
		width: 50px;
		height: 50px;
	}

	.inf__desc {
		font-size: 20px;
	}

	.inf__ablty-name {
		font-size: 36px;
	}

	.inf__ablty-icon {
		width: 60px;
	}
}
